<div class="projectGrid">
  <div class="txtbox" id="">
    <strong>Directories:</strong>
    <hr />
    <div id="directoryList" style="height: 350px; overflow: auto"></div>
  </div>
  <div class="txtbox" id="">
    <strong id="displayDocumentListMessage"></strong>
    <hr />
    <div id="documentList" style="height: 350px; overflow: auto"></div>
  </div>
</div>
