<!-- Modal content -->
<div class="modal-content">
  <div class="modal-header">
    <h3 style="display: inline-block">Document Info</h3>
    <button class="close" onclick="closeModal()">x</button>
  </div>
  <div class="modal-body" id="documentInfo"></div>
  <div class="modal-footer">
    <h4>S & D Cloud Drive | github: @Sajjal</h4>
  </div>
</div>
