<nav>
  <form id="searchForm">
    <input type="text" name="search" class="searchBar" placeholder="🔎  Search Documents..." />
  </form>
  <ul>
    <li>
      <img src="/images/home.png" alt="Home" id="gotoHome" />
    </li>
    <li>
      <img src="/images/add.png" id="gotoAdd" alt="Add New" />
    </li>
    <li>
      <img src="/images/logout.png" id="logout" alt="Logout" />
    </li>
  </ul>
</nav>
